body {
    background-color:pink;
    font-family: "comicsans MS";
    text-align:center;
    
}

h1 {
    font-size: 50px;
    color: purple;
    border: 3px solid white;   
    padding: 15px 250px;
    border-radius: 50px;
    background-color: white;
    display: inline-block;
}

img {
    width: 500px;
    display: block;
    margin: 10px auto;
}
